html {
    margin: 0; /* Elimina márgenes por defecto */
}

body {
    margin: 0; /* Elimina márgenes por defecto */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa el 100% de la altura de la ventana del navegador */
    font-family: sans-serif;
}

main {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
    padding: 20px; /* Añade un poco de espacio dentro del contenido */
}

header {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}